<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"> 
    <title>APPC - Datos del Análisis</title>
  

  
<style>

#back{
    background-color: rgb(27, 50, 51);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    display:block;
    height: 50px;
    width: 80px;
}

#table{
  margin-left: auto; 
  margin-right: auto;
  table-layout: auto;
  width: 100%;
  position: relative;
  border: 1px solid #333333;
  border-style: hidden;
  
}

#table tr,td{
  
  border-collapse: collapse;
  border: 1px solid rgb(54, 50, 50);
  width:10%;
  /*padding: 15px;*/
  color:black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#table th{
    background-color: grey ;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#table tr:nth-child(even){background-color:#00ffff ;}

#table tr:nth-child(odd){background-color:#00ffff ;}


</style>

</head>


<body>

    <script>
        
        var sessionString=sessionStorage.getItem('array');
        /*sessionString = sessionString.replace(/'/g, '"');*/
        var new_list= JSON.parse(sessionString);
       /* str = str.substring(1, str.length - 1);
        var new_list = str.split(",");*/
        /*new_list = new_list.match(/\d+/g).map(Number)*/
        console.log(new_list);

        
        
    </script>


<button type="submit" id="back" class="btn getResult btn-info btn-lg mb-2" onclick="goBack()">Volver</button>

    <table border="true" id="table" style="display:block">
        <tr>
            <th>Características</th>
            <th>Reglas</th>
            <th>Estado</th>
        </tr>
        
        <tbody>
        <tr>
          <td>Having IP Address</td>
          <td>El dominio tiene dirección IP : -1<br>El dominio no tiene dirección IP : 1</td>
          <td><b><span id="ip"></span></b></td>
        </tr>

        <tr>
          <td>URL Length</td>
          <td>Largo del URL < 54 : 1<br>Largo del URL >= 54 and Largo del URL <= 75 : 0<br>Largo del URL > 75 : -1</td>
          <td><b><span id="url_length"></span></b></td>
        </tr>

        <tr>
          <td>Shortening Service</td>
          <td>El URL es acortado : -1<br>De lo contrario : 1</td>
          <td><b><span id="ss"></span></b></td>
        </tr>

        <tr>
          <td>Having At Symbol</td>
          <td>El URL contiene '@' : -1<br>El URL no contiene '@' : 1</td>
          <td><b><span id="at"></span></b></td>
        </tr>

        <tr>
          <td>Double Slash Redirecting</td>
          <td>Posición de la última aparición de '//' en la URL > 7 : -1<br>Posición de la última aparición de '//' en la URL <= 7 : 1</td>
          <td><b><span id="double_slash"></span></b></td>
        </tr>

        <tr>
            <td>Prefix Suffix</td>
            <td>El dominio contiene '-' : -1<br>El dominio no contiene '-' : 1</td>
            <td><b><span id="prefix_suffix"></span></b></td>
        </tr>

        <tr>
            <td>Having Sub Domain</td>
            <td>Puntos en la parte del dominio = 1 : 1<br>Puntos en la parte del dominio = 2 : 0<br>Puntos en la parte del dominio > 2 : -1</td>
            <td><b><span id="sub_domain"></span></b></td>
        </tr>

        <tr>
            <td>SSL Final State</td>
            <td>Tener HTTPS y el emisor es de confianza y la antigüedad del certificado >= 1 year : 1<br>Tener HTTPS y el emisor no es de confianza : 0<br>EL dominio no tiene HTTPS : -1</td>
            <td><b><span id="ssl"></span></b></td>
        </tr>

        <tr>
            <td>Domain Registration Length</td>
            <td>Expiración del dominio <= 1 year : -1<br>Expiración del dominio > 1 year : 1</td>
            <td><b><span id="reg_length"></span></b></td>
        </tr>

        <tr>
            <td>Favicon</td>
            <td>El favicon fue cargado de un dominio externo : -1<br>El favicon fue cargado del dominio ingresado : 1</td>
            <td><b><span id="favs"></span></b></td>
        </tr>

        <tr>
            <td>Port</td>
            <td>Contiene puerto de estado preferido : -1<br>De lo contrario : 1</td>
            <td><b><span id="port"></span></b></td>
        </tr>
        
        <tr>
            <td>HTTPS Token</td>
            <td>El dominio tiene token HTTPS : -1<br>El dominio no tiene token HTTPS : 1</td>
            <td><b><span id="token"></span></b></td>
        </tr>
        
        <tr>
            <td>Request URL</td>
            <td>Porcentaje del URL solicitado < 22% : 1<br>Porcentaje del URL solicitado >= 22% y < 61% : 0<br>Porcentaje del URL solicitado >= 61% : -1</td>
            <td><b><span id="request"></span></b></td>
        </tr>

        <tr>
            <td>URL of Anchor</td>
            <td>Porcentaje de URL de anclaje < 31% : 1<br>Porcentaje de URL de anclaje >= 31% y <= 67% : 0<br>Porcentaje de URL de anclaje > 67% : -1</td>
            <td><b><span id="anchor"></span></b></td>
        </tr>

        <tr>
            <td>Links in Tags</td>
            <td>Porcentaje de enlaces en etiquetas < 17% : 1<br>Porcentaje de enlaces en etiquetas >= 17% y <= 81% : 0<br>Porcentaje de enlaces en etiquetas > 81% : -1</td>
            <td><b><span id="tags"></span></b></td>
        </tr>

        <tr>
            <td>SFH</td>
            <td>SFH es 'about:blank' o está vacío : -1<br>SFH se refiere a un dominio diferente : 0<br>De lo contrario : 1</td>
            <td><b><span id="sfh"></span></b></td>
        </tr>

        <tr>
            <td>Submitting to Email</td>
            <td>Tiene la función 'mail()' o 'mailto:' : -1<br>No tiene la función 'mail()' o 'mailto:' : 1</td>
            <td><b><span id="email"></span></b></td>
        </tr>

        <tr>
            <td>Abnormal URL</td>
            <td>El URL no tiene nombre de host : -1<br>El URL tiene nombre de host : 1</td>
            <td><b><span id="abnormal"></span></b></td>
        </tr>

        <tr>
            <td>Redirect</td>
            <td>Número de veces que se redirige el sitio web <= 1 : 1<br>Número de veces que se redirige el sitio web >= 2 y < 4 : 0<br>Número de veces que se redirige el sitio web >= 4 : -1</td>
            <td><b><span id="redirect"></span></b></td>
        </tr>

        <tr>
            <td>On Mouseover</td>
            <td>Al pasar el mouse cambia la barra de estado : -1<br>Al pasar el mouse no cambia la barra de estado : 1</td>
            <td><b><span id="on"></span></b></td>
        </tr>

        <tr>
            <td>Right Click</td>
            <td>Click derecho deshabilitado : -1<br>Click derecho no deshabilitado : 1</td>
            <td><b><span id="click"></span></b></td>
        </tr>

        <tr>
            <td>PopUpWindow</td>
            <td>La ventana emergente contiene un campo de texto : -1<br>La ventana emergente no contiene un campo de texto : 1</td>
            <td><b><span id="popup"></span></b></td>
        </tr>

        <tr>
            <td>Iframe</td>
            <td>Utiliza la etiqueta iframe : -1<br>No hay redirección a iframe : 1</td>
            <td><b><span id="iframe"></span></b></td>
        </tr>

        <tr>
            <td>Age of Domain</td>
            <td>Edad del dominio >= 6 meses : 1<br>Edad del dominio < 6 meses : -1</td>
            <td><b><span id="age"></span></b></td>
        </tr>

        <tr>
            <td>DNS Record</td>
            <td>No hay registro DNS para el dominio : -1<br>Tiene registro DNS para el dominio : 1</td>
            <td><b><span id="dns"></span></b></td>
        </tr>

        <tr>
            <td>Web Traffic</td>
            <td>Clasificación del sitio web < 100,000 : 1<br>Clasificación del sitio web > 100,000 : 0<br>Sin tráfico del sitio web : -1</td>
            <td><b><span id="web"></span></b></td>
        </tr>

        <tr>
            <td>Page Rank</td>
            <td>Rango de página < 0.2 : -1<br>Rango de página >= 0.2 : 1</td>
            <td><b><span id="rank"></span></b></td>
        </tr>

        <tr>
            <td>Google Index</td>
            <td>Página web indexada por Google : 1<br>Página web no indexada por Google : -1</td>
            <td><b><span id="index"></span></b></td>
        </tr>

        <tr>
            <td>Links Poiniting to Page</td>
            <td>Número de enlaces que apuntan a la página web = 0 : -1<br>Número de enlaces que apuntan a la página web > 0 y <= 2 : 0<br>Número de enlaces que apuntan a la página web > 2 : 1</td>
            <td><b><span id="links"></span></b></td>
        </tr>

        <tr>
            <td>Statistical Report</td>
            <td>El host pertenece a las principales direcciones IP de phishing : -1<br>El host no pertenece a las principales direcciones IP de phishing : 1</td>
            <td><b><span id="report"></span></b></td>
        </tr>


    </tbody>

</table>



<script>
      
      function goBack() {
  window.history.back();
      }
     

        document.getElementById("ip").innerHTML = new_list[0];
        document.getElementById("url_length").innerHTML = new_list[1];
        document.getElementById("ss").innerHTML = new_list[2];
        document.getElementById("at").innerHTML = new_list[3];
        document.getElementById("double_slash").innerHTML = new_list[4];
        document.getElementById("prefix_suffix").innerHTML = new_list[5];
        document.getElementById("sub_domain").innerHTML = new_list[6];
        document.getElementById("ssl").innerHTML = new_list[7];
        document.getElementById("reg_length").innerHTML = new_list[8];
        document.getElementById("favs").innerHTML = new_list[9];
        document.getElementById("port").innerHTML = new_list[10];
        document.getElementById("token").innerHTML = new_list[11];
        document.getElementById("request").innerHTML = new_list[12];
        document.getElementById("anchor").innerHTML = new_list[13];
        document.getElementById("tags").innerHTML = new_list[14];
        document.getElementById("sfh").innerHTML = new_list[15];
        document.getElementById("email").innerHTML = new_list[16];
        document.getElementById("abnormal").innerHTML = new_list[17];
        document.getElementById("redirect").innerHTML = new_list[18];
        document.getElementById("on").innerHTML = new_list[19];
        document.getElementById("click").innerHTML = new_list[20];
        document.getElementById("popup").innerHTML = new_list[21];
        document.getElementById("iframe").innerHTML = new_list[22];
        document.getElementById("age").innerHTML = new_list[23];
        document.getElementById("dns").innerHTML = new_list[24];
        document.getElementById("web").innerHTML = new_list[25];
        document.getElementById("rank").innerHTML = new_list[26];
        document.getElementById("index").innerHTML = new_list[27];
        document.getElementById("links").innerHTML = new_list[28];
        document.getElementById("report").innerHTML = new_list[29];



</script>

</body>

</html>