<head>
	<title>APPC - Inicio</title>
</head>
{% extends "layout.html" %}

{% block content %}

<section class="header-slider-area">
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="single-slide-item slide-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="single-slide-item-content">
									<h2>Consulta <br> con Nosotros</h2>
									<p>
										Tenemos la mejor solución tecnológica antiphishing jamás hecha. Estamos listos
										para los retos y combatir esos problemas que tanto molestan a los usuarios.
									</p>
									<button type="button" class="slide-btn">
										<a href="{{url_for('service')}}">Empieza ya</a>
									</button>
									<button type="button" class="slide-btn">
										<a href="{{url_for('team')}}">Conócenos</a>
									</button>
								</div><!-- /.single-slide-item-content-->
							</div><!-- /.col-->
						</div><!-- /.row-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->
			</div><!-- /.item .active-->
			<div class="item">
				<div class="single-slide-item slide-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="single-slide-item-content">
									<h2>Consulta <br> con Nosotros</h2>
									<p>
										Tenemos la mejor solución tecnológica antiphishing jamás hecha. Estamos listos
										para los retos y combatir esos problemas que tanto molestan a los usuarios.
									</p>
									<button type="button" class="slide-btn">
										<a href="{{url_for('service')}}">Empieza ya</a>
									</button>
									<button type="button" class="slide-btn">
										<a href="{{url_for('team')}}">Conócenos</a>
									</button>
								</div><!-- /.single-slide-item-content-->

							</div><!-- /.col-->
						</div><!-- /.row-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->
			</div><!-- /.item .active-->
		</div><!-- /.carousel-inner-->

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="lnr lnr-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="lnr lnr-chevron-right"></span>
		</a>
	</div><!-- /.carousel-->

</section><!-- /.header-slider-area-->
<!-- header-slider-area end -->

<!--we-do start -->
<section class="we-do">
	<div class="container">
		<div class="we-do-details">
			<div class="section-header text-center">
				<h2>¿Qué Hacemos?</h2>
				<p>
					Antiphishing Pishing Club es un sistema basado en Machine Learning que detecta todo tipo de riesgo
					web, diagnosticando cada aspecto de la página y brindado un resultado detallado de cada sitio, con
					el fin que el usuario pueda tener una navegación segura.
				</p>
			</div>
			<!--/.section-header-->
			<div class="we-do-carousel">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="single-we-do-box text-center">
							<div class="we-do-description">
								<div class="we-do-info">
									<div class="we-do-img">
										<img src="static/images/home/consultency.png" alt="image of consultency" />
									</div>
									<!--/.we-do-img-->
									<div class="we-do-topics">
										<h2>
											<a>
												Diagnóstico de Phishing Web
											</a>
										</h2>
									</div>
									<!--/.we-do-topics-->
								</div>
								<!--/.we-do-info-->
								<div class="we-do-comment">
									<p>
										Nuestro sistema ayuda a detectar phishing en páginas web mediante el análisis de
										la estructura web.
									</p>
								</div>
								<!--/.we-do-comment-->
							</div>
							<!--/.we-do-description-->
						</div>
						<!--/.single-we-do-box-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="single-we-do-box text-center">
							<div class="we-do-description">
								<div class="we-do-info">
									<div class="we-do-img">
										<img src="static/images/home/busisness_grow.png" alt="image of business" />
									</div>
									<!--/.we-do-img-->
									<div class="we-do-topics">
										<h2>
											<a>
												Sistema de correo local seguro
											</a>
										</h2>
									</div>
									<!--/.we-do-topics-->
								</div>
								<!--/.we-do-info-->
								<div class="we-do-comment">
									<p>
										Brindamos un servicio de correos dentro de su empresa, de esta manera los envíos
										y recepciones serán muy seguros.
									</p>
								</div>
								<!--/.we-do-comment-->
							</div>
							<!--/.we-do-description-->
						</div>
						<!--/.single-we-do-box-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="single-we-do-box text-center">
							<div class="we-do-description">
								<div class="we-do-info">
									<div class="we-do-img">
										<img src="static/images/home/support-logo.png" alt="image of support" />
									</div>
									<!--/.we-do-img-->
									<div class="we-do-topics">
										<h2>
											<a>
												Buen soporte y confiabilidad
											</a>

										</h2>
									</div>
									<!--/.we-do-topics-->
								</div>
								<!--/.we-do-info-->
								<div class="we-do-comment">
									<p>
										Brindamos el mejor soporte en la actualidad, para resolver las dudas y problemas
										de nuestros clientes.
									</p>
								</div>
								<!--/.we-do-comment-->
							</div>
							<!--/.we-do-description-->
						</div>
						<!--/.single-we-do-box-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.we-do-carousel-->
		</div>
		<!--/.we-do-details-->
	</div>
	<!--/.container-->

</section>
<!--/.we-do-->
<!--we-do end-->

<!--about-us start -->
<section class="about-us">
	<div class="container">
		<div class="about-us-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="single-about-us">
						<div class="about-us-txt">
							<h2>Sobre Nosotros</h2>
							<p>
								Somos dos estudiantes del último ciclo de la carrera de Ingeniería de Sistemas de
								Información de la Universidad Peruana de Ciencias Aplicadas (UPC), cuyo proyecto de
								tesis tiene como nombre: SISTEMA INTELIGENTE QUE UTILICE UNA TÉCNICA DE APRENDIZAJE
								AUTOMÁTICO (RANDOM FOREST) PARA LA DETECCIÓN DE PHISHING DE PÁGINAS WEB
							</p>
							<div class="project-btn">
								<a href="{{url_for('team')}}" class="project-view">AVERIGUA MÁS
								</a>
							</div>
							<!--/.project-btn-->
						</div>
						<!--/.about-us-txt-->
					</div>
					<!--/.single-about-us-->
				</div>
				<!--/.col-->
				<div class="col-sm-6">
					<div class="single-about-us">
						<div class="about-us-img">
							<img src="static/images/about/about-part.jpg" alt="about images">
						</div>
						<!--/.about-us-img-->
					</div>
					<!--/.single-about-us-->
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
		<!--/.about-us-content-->
	</div>
	<!--/.container-->

</section>
<!--/.about-us-->
<!--about-us end -->

<!--service start-->
<section class="service">
	<div class="container">
		<div class="service-details">
			<div class="section-header text-center">
				<h2>Nuestros Servicios</h2>
				<p>
					Como equipo, brindamos servicios de detección de phishing web en dos formas, la primera mediante
					análisis y diagnóstico de URLs, y la otra mediante envío y recepción de correos. Es así, que muy
					pronto les brindaremos más servicios que puedan fomentar el crecimiento empresarial y que sea de
					fácil uso para todos los usuarios.
				</p>
			</div>
			<!--/.section-header-->
			<div class="service-content-one">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service1.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Seguridad Empresarial</a>
								</h2>
								<p>
									Enfocado a la integridad de su empresa
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service2.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Consultoría Web</a>
								</h2>
								<p>
									Realice las consultas a los sitios web que desee, con tan solo el URL
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service3.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Emailing Seguro</a>
								</h2>
								<p>
									Envíe y reciba los correos sin ningún tipo de riesgo
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-one-->
			<div class="service-content-two">
				<div class="row">
					<div class="col-sm-4 col-xs-12"></div>
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service6.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Soporte Técnico 24/7</a>
								</h2>
								<p>
									Brindamos soporte técnico a todos nuestros clientes en cualquier momento que lo
									deseen
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-two-->
		</div>
		<!--/.service-details-->
	</div>
	<!--/.container-->

</section>
<!--/.service-->
<!--service end-->

<!--statistics start-->
<section class="statistics">
	<div class="container">
		<div class="statistics-counter ">
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-img">
						<img src="static/images/counter/counter1.png" alt="counter-icon" />
					</div>
					<!--/.statistics-img-->
					<div class="statistics-content">
						<div class="counter">6</div>
						<h3>Días trabajados</h3>
					</div>
					<!--/.statistics-content-->
				</div>
				<!--/.single-ststistics-box-->
			</div>
			<!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-img">
						<img src="static/images/counter/counter2.png" alt="counter-icon" />
					</div>
					<!--/.statistics-img-->
					<div class="statistics-content">
						<div class="counter">3</div>
						<h3>Empresas asesoradas</h3>
					</div>
					<!--/.statistics-content-->
				</div>
				<!--/.single-ststistics-box-->
			</div>
			<!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-img">
						<img src="static/images/counter/counter3.png" alt="counter-icon" />
					</div>
					<!--/.statistics-img-->
					<div class="statistics-content">
						<div class="counter">5486</div>
						<h3>Café cargado</h3>
					</div>
					<!--/.statistics-content-->
				</div>
				<!--/.single-ststistics-box-->
			</div>
			<!--/.col-->
			<div class="col-md-3 col-sm-6">
				<div class="single-ststistics-box">
					<div class="statistics-img">
						<img src="static/images/counter/counter4.png" alt="counter-icon" />
					</div>
					<!--/.statistics-img-->
					<div class="statistics-content">
						<div class="counter">26</div>
						<h3>Clientes Satisfechos</h3>
					</div>
					<!--/.statistics-content-->
				</div>
				<!--/.single-ststistics-box-->
			</div>
			<!--/.col-->
		</div>
		<!--/.statistics-counter-->
	</div>
	<!--/.container-->

</section>
<!--/.statistics-->
<!--statistics end-->

<!--project start-->
<section id="project" class="project">
	<div class="container">
		<div class="project-details">
			<div class="project-header text-left">
				<h2>Clientes que confían en nosotros</h2>
				<p>
					Estos son algunos de los potenciales clientes que confían en nosotros:
				</p>
			</div>
			<!--/.project-header-->
			<div class="project-content">
				<div class="gallery-content">
					<div class="isotope">
						<div class="row">
							<div class=" col-md-4 col-sm-12">
								<div class="item big-height">
									<img src="static/images/project/project1.jpg" alt="portfolio image" />
								</div><!-- /.item -->
							</div><!-- /.col -->
							<div class="col-md-8 col-sm-12">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project2.jpg" alt="portfolio image" />
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project3.jpg" alt="portfolio image" />
										</div><!-- /.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project4.jpg" alt="portfolio image" />
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project5.jpg" alt="portfolio image" />
										</div>
										<!--/.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->

							</div><!-- /.col -->
						</div><!-- /.row -->

					</div>
					<!--/.isotope-->
				</div>
				<!--/.gallery-content-->
			</div>
			<!--/.project-content-->
		</div>
	</div>
	<!--/.container-->

</section>
<!--/.project-->
<!--project end-->


<!--team start -->
<section class="team">
	<div class="container">
		<div class="team-details">
			<div class="project-header team-header text-left">
				<h2>Nuestro Equipo</h2>
				<p>
					Nuestro equipo de desarrollo de Proyecto.
				</p>
			</div>
			<!--/.project-header-->
			<div class="team-card">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<div class="single-team-box team-box-bg-1">
								<div class="team-box-inner">
									<h3>Álvaro Araujo Arévalo</h3>
									<p class="team-meta">Project Manager</p>
									<a href="https://pe.linkedin.com/in/alvaroaraujoarevalo" class="learn-btn">
										Linkedin
									</a>
								</div>
								<!--/.team-box-inner-->

							</div>
							<!--/.single-team-box-->
						</div>
						<!--.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-team-box team-box-bg-2">
								<div class="team-box-inner">
									<h3>Gonzalo Félix-Díaz</h3>
									<p class="team-meta">
										Scrum Master
									</p>
									<a href="https://pe.linkedin.com/in/gonzalo-felix-diaz-805545119" class="learn-btn">
										Linkedin
									</a>
								</div>
								<!--/.team-box-inner-->
							</div>
							<!--/.single-team-box-->
						</div>
						<!--.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-team-box team-box-bg-3">
								<div class="team-box-inner">
									<h3>Emilio Herrera Trujillo</h3>
									<p class="team-meta">
										Portfolio Manager
									</p>
								</div>
								<!--/.team-box-inner-->
							</div>
							<!--/.single-team-box-->
						</div>
						<!--.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-team-box team-box-bg-4">
								<div class="team-box-inner">
									<h3>Juan Pablo Mansilla</h3>
									<p class="team-meta">
										Co-Autor
									</p>
								</div>
								<!--/.team-box-inner-->
							</div>
							<!--/.single-team-box-->
						</div>
						<!--.col-->
					</div>
					<!--/.row-->
				</div>
				<!--/.container-->
			</div>
			<!--/.team-card-->
		</div>
		<!--/.team-details-->
	</div>
	<!--/.container-->

</section>
<!--/.team-->
<!--team end-->




{% endblock %}