<head>
	<title>APPC - Proyecto</title>
</head>
{% extends "layout.html" %}

{% block content %}

<!--about-part start-->
<section class="about-part project-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>project</h2>
			<div class="about-part-content">
				<div class="breadcrumbs">
					<div class="container">
						<ol class="breadcrumb">
							<li><a href="index.html">home</a><span>//</span></li>
							<li><a href="project.html">project</a></li>
						</ol>
						<!--/.breadcrumb-->
					</div>
					<!--/.container-->
				</div>
				<!--/.breadcrumbs-->
			</div>
			<!--/.about-part-content-->
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->

<!--project start-->
<section id="project" class="project">
	<div class="container">
		<div class="project-details">
			<div class="project-header text-left">
				<h2>Our Finished Projects</h2>
				<p>
					Pallamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<!--/.project-header-->
			<div class="project-content">
				<div class="gallery-content">
					<div class="isotope">
						<div class="row">
							<div class=" col-md-4 col-sm-12">
								<div class="item big-height">
									<img src="static/images/project/project1.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="project.html">
											<span class="lnr lnr-link"></span>

										</a>
										<h3>
											<a href="project.html">
												aquisition plan
											</a>
										</h3>
										<p>busisness planning</p>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->
							<div class="col-md-8 col-sm-12">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project2.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project3.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project4.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project5.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div>
										<!--/.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->

							</div><!-- /.col -->
						</div><!-- /.row -->
						<div class="row">
							<div class=" col-md-4 col-sm-12">
								<div class="item big-height">
									<img src="static/images/project/project1.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="project.html">
											<span class="lnr lnr-link"></span>

										</a>
										<h3>
											<a href="project.html">
												aquisition plan
											</a>
										</h3>
										<p>busisness planning</p>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->
							<div class="col-md-8 col-sm-12">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project2.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project3.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project4.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="static/images/project/project5.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div>
										<!--/.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->

							</div><!-- /.col -->

						</div><!-- /.row -->
					</div>
					<!--/.isotope-->
				</div>
				<!--/.gallery-content-->
			</div>
			<!--/.project-content-->
		</div>
		<!--/.project-details-->
		<div class="project-btn text-center">
			<a href="project.html" class="project-view">view all
			</a>
		</div>
		<!--/.project-btn-->
	</div>
	<!--/.container-->

</section>

{% endblock %}