<head>
	<title>APPC - Servicios</title>
</head>
{% extends "layout.html" %}

{% block content %}

<!--about-part start-->
<section class="about-part service-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>Servicios</h2>
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->

<!--service start-->
<section class="service">
	<div class="container">
		<div class="service-details">
			<div class="section-header text-center">
				<h2>Nuestros Servicios</h2>
				<p>
					Como equipo, brindamos servicios de detección de phishing web en dos formas, la primera mediante
					análisis y diagnóstico de URLs, y la otra mediante envío y recepción de correos. Es así, que muy
					pronto les brindaremos más servicios que puedan fomentar el crecimiento empresarial y que sea de
					fácil uso para todos los usuarios.
				</p>
			</div>
			<!--/.section-header-->
			<div class="service-content-one">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service1.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Seguridad Empresarial</a>
								</h2>
								<p>
									Enfocado a la integridad de su empresa
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service2.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Consultoría Web</a>
								</h2>
								<p>
									Realice las consultas a los sitios web que desee, con tan solo el URL
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service3.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Emailing Seguro</a>
								</h2>
								<p>
									Envíe y reciba los correos sin ningún tipo de riesgo
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-one-->
			<div class="service-content-two">
				<div class="row">
					<div class="col-sm-4 col-xs-12"></div>
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="static/images/service/service6.png" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a>Soporte Técnico 24/7</a>
								</h2>
								<p>
									Brindamos soporte técnico a todos nuestros clientes en cualquier momento que lo
									deseen
								</p>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-two-->
		</div>
		<!--/.service-details-->
	</div>
	<!--/.container-->

</section>

{% endblock %}