<head>
	<title>APPC - Equipo de Trabajo</title>
</head>
{% extends "layout.html" %}

{% block content %}

<!--about-part start-->
<section class="about-part team-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>Equipo de Trabajo</h2>
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->

<!--team start -->
<section id="team" class="team  team-main">
	<div class="container">
		<div class="team-details">
			<div class="project-header team-header team-head text-center">
				<h2>Nuestro Equipo de Expertos</h2>
				<p>
					Equipo de alumnos y profesores asesores en el proceso de desarrollo de Tesis.
				</p>
			</div>
			<!--/.project-header-->
			<div class="team-card">
				<div class="container">
					<div class="row">
						<div class="owl-carousel  team-carousel">
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-1">
									<div class="team-box-inner">
										<h3>Álvaro Araujo Arévalo</h3>
										<p class="team-meta">Project Manager</p>
										<a href="https://pe.linkedin.com/in/alvaroaraujoarevalo" class="learn-btn">
											Linkedin
										</a>
									</div>
									<!--/.team-box-inner-->

								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-2">
									<div class="team-box-inner">
										<h3>Gonzalo Félix-Díaz</h3>
										<p class="team-meta">
											Scrum Master
										</p>
										<a href="https://pe.linkedin.com/in/gonzalo-felix-diaz-805545119" class="learn-btn">
											Linkedin
										</a>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-3">
									<div class="team-box-inner">
										<h3>Emilio Herrera Trujillo</h3>
										<p class="team-meta">
											Portfolio Manager
										</p>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-4">
									<div class="team-box-inner">
										<h3>Juan Pablo Mansilla</h3>
										<p class="team-meta">
											Co-Autor
										</p>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
						</div>
						<!--/.team-carousel-->
					</div>
					<!--/.row-->
				</div>
				<!--/.container-->
			</div>
			<!--/.team-card-->
		</div>
		<!--/.team-details-->
	</div>
	<!--/.container-->

</section>
<!--/.team-->
<!--team end-->

{% endblock %}