<head>
	<title>APPC - Equipo de Trabajo</title>
</head>
{% extends "layout.html" %}

{% block content %}

<!--about-part start-->
<section class="about-part team-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>team</h2>
			<div class="about-part-content

					">
				<div class="breadcrumbs">
					<div class="container">
						<ol class="breadcrumb">
							<li><a href="index.html">home</a><span>//</span></li>
							<li><a href="team.html">team</a></li>
						</ol>
						<!--/.breadcrumb-->
					</div>
					<!--/.container-->
				</div>
				<!--/.breadcrumbs-->
			</div>
			<!--/.about-part-content-->
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->

<!--team start -->
<section id="team" class="team  team-main">
	<div class="container">
		<div class="team-details">
			<div class="project-header team-header team-head text-center">
				<h2>Nuestro Equipo de Expertos</h2>
				<p>
					Pallamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<!--/.project-header-->
			<div class="team-card">
				<div class="container">
					<div class="row">
						<div class="owl-carousel  team-carousel">
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-1">
									<div class="team-box-inner">
										<h3>tom hanks</h3>
										<p class="team-meta">Founder & CEO</p>
										<a href="team.html" class="learn-btn">
											learn more
										</a>
									</div>
									<!--/.team-box-inner-->

								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-2">
									<div class="team-box-inner">
										<h3>alex browne</h3>
										<p class="team-meta">
											Director, Management & Research
										</p>
										<a href="team.html" class="learn-btn">
											learn more
										</a>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-3">
									<div class="team-box-inner">
										<h3>darren j. stevens</h3>
										<p class="team-meta">
											Director, Finance Solution
										</p>
										<a href="team.html" class="learn-btn">
											learn more
										</a>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
							<div class="col-sm-3 col-xs-12">
								<div class="single-team-box single-team-card team-box-bg-4">
									<div class="team-box-inner">
										<h3>kevin thomson</h3>
										<p class="team-meta">
											Head, Legal Advising
										</p>
										<a href="team.html" class="learn-btn">
											learn more
										</a>
									</div>
									<!--/.team-box-inner-->
								</div>
								<!--/.single-team-box-->
							</div>
							<!--.col-->
						</div>
						<!--/.team-carousel-->
					</div>
					<!--/.row-->
				</div>
				<!--/.container-->
			</div>
			<!--/.team-card-->
		</div>
		<!--/.team-details-->
	</div>
	<!--/.container-->

</section>
<!--/.team-->
<!--team end-->

{% endblock %}