<head>
	<title>APPC - Acerca de Nostros</title>
</head>
{% extends "layout.html" %}

{% block content %}


<!--about-part start-->
<section class="about-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>Acerca de Nosotros</h2>
		</div>
		<!--/.about-part-details-->
	</div>
	<!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->

<!--about-history start-->
<div class="about-history">
	<div class="container">
		<div class="about-history-content">

			<div class="row">

				<div class="col-md-5 col-sm-12">
					<div class="single-about-history">
						<div class="about-history-img">
							<img src="static/images/about/ab1.jpg" alt="about">
						</div>
						<!--/.about-history-img-->
					</div>
					<!--/.single-about-history-->
				</div>
				<!--/.col-->

				<div class="col-md-offset-1 col-md-6 col-sm-12">
					<div class="single-about-history">
						<div class="about-history-txt">
							<h2>Nuestra Historia</h2>
							<p>
								Alumnos de la carrera de Ingeniería de Sistemas de Información se encontraron en
								distintos cursos y con ello, se volvieron amigos y se apoyaron mutuamente hasta llegar a
								la recta final de la carrera: Tesis.
							</p>

							<div class="main-timeline">

								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="experience-time">
											<h3>2015</h3>
										</div>
										<!--/.experience-time-->
									</div>
									<!--/.col-->
									<div class="col-md-10 col-sm-10">
										<div class="timeline">

											<div class="timeline-content">
												<h4 class="title"> <span><i class="fa fa-circle-o"
															aria-hidden="true"></i></span></h4>

												<ul class="description">
													<li>Gonzalo inicia la carrera.
													</li>

												</ul>
											</div>
											<!--/.timeline-content-->
										</div>
										<!--/.timeline-->
									</div>
									<!--/.col-->
								</div>
								<!--/.row-->

								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="experience-time">
											<h3>2017</h3>
										</div>
										<!--/.experience-time-->
									</div>
									<!--/.col-->
									<div class="col-md-10 col-sm-10">
										<div class="timeline">

											<div class="timeline-content">
												<h4 class="title"> <span><i class="fa fa-circle-o"
															aria-hidden="true"></i></span></h4>

												<ul class="description">
													<li>Alvaro inicia la carrera.
													</li>
												</ul>
											</div>
											<!--/.timeline-content-->
										</div>
										<!--/.timeline-->
									</div>
									<!--/.col-->
								</div>
								<!--/.row-->

								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="experience-time">
											<h3>2020</h3>
										</div>
										<!--/.experience-time-->
									</div>
									<!--/.col-->
									<div class="col-md-10 col-sm-10">
										<div class="timeline">

											<div class="timeline-content">
												<h4 class="title"> <span><i class="fa fa-circle-o"
															aria-hidden="true"></i></span></h4>

												<ul class="description">
													<li>Ambos coinciden en un curso de la carrera y comienza su amistad.
													</li>

												</ul>
											</div>
											<!--/.timeline-content-->
										</div>
										<!--/.timeline-->
									</div>
									<!--/.col-->
								</div>
								<!--/.row-->

								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="experience-time">
											<h3>2022</h3>
										</div>
										<!--/.experience-time-->
									</div>
									<!--/.col-->
									<div class="col-md-10 col-sm-10">
										<div class="timeline">

											<div class="timeline-content">
												<h4 class="title"> <span><i class="fa fa-circle-o"
															aria-hidden="true"></i></span></h4>

												<ul class="description">
													<li>Ambos desarrollan grupalmente su proyecto de Tesis.
													</li>
												</ul>
											</div>
											<!--/.timeline-content-->
										</div>
										<!--/.timeline-->
									</div>
									<!--/.col-->
								</div>
								<!--/.row-->
							</div>
							<!--.main-timeline-->
						</div>
						<!--/.about-history-txt-->
					</div>
					<!--/.single-about-history-->
				</div>
				<!--/.col-->

			</div>
			<!--/.row-->
			<div class="row">

				<div class="about-vission-content">

					<div class="col-md-6 col-sm-12">
						<div class="single-about-history">
							<div class="about-history-txt">
								<h2>Misión y Visión</h2>
								<p>
									Tenemos como misión, poder fomentar el uso de ciberseguridad en todo aspecto, tanto
									laboral como personal para evitar problemas y lamentos repentinos, y por otro lado,
									como visión, ser la solución lider en el mercado de ciberseguridad a nivel mundial,
								</p>

								<div class="main-timeline  xtra-timeline">

									<div class="row">
										<div class="col-sm-12">
											<div class="timeline timeline-ml-20">

												<div class="timeline-content">
													<h4 class="title"> <span><i class="fa fa-circle-o"
																aria-hidden="true"></i></span></h4>

													<ul class="description">
														<li>Desarrollar un sistema inteligente que pueda detectar el
															phishing en páginas web</li>

													</ul>
												</div>
												<!--/.timeline-content-->
											</div>
											<!--/.timeline-->
										</div>
										<!--/.col-->
									</div>
									<!--/.row-->

									<div class="row">
										<div class="col-sm-12">
											<div class="timeline timeline-ml-20">

												<div class="timeline-content">
													<h4 class="title"> <span><i class="fa fa-circle-o"
																aria-hidden="true"></i></span></h4>

													<ul class="description">
														<li>Aportar con el desarrollo de mejores sistemas inteligentes
															para la seguridad de todos.</li>

													</ul>
												</div>
												<!--/.timeline-content-->
											</div>
											<!--/.timeline-->
										</div>
										<!--/.col-->
									</div>
									<!--/.row-->

									<div class="row">
										<div class="col-sm-12">
											<div class="timeline timeline-ml-20">

												<div class="timeline-content">
													<h4 class="title"> <span><i class="fa fa-circle-o"
																aria-hidden="true"></i></span></h4>

													<ul class="description">
														<li>Ser figura de otros desarrollos, y no precisamente de con el
															mismo fin.</li>

													</ul>
												</div>
												<!--/.timeline-content-->
											</div>
											<!--/.timeline-->
										</div>
										<!--/.col-->
									</div>
									<!--/.row-->
								</div>
								<!--.main-timeline-->
							</div>
							<!--/.about-history-txt-->
						</div>
						<!--/.single-about-history-->
					</div>
					<!--/.col-->

					<div class="col-md-offset-1 col-md-5 col-sm-12">
						<div class="single-about-history">
							<div class="about-history-img">
								<img src="static/images/about/ab2.jpg" alt="about">
							</div>
							<!--/.about-history-img-->
						</div>
						<!--/.single-about-history-->
					</div>
					<!--/.col-->
				</div>
				<!--/.about-vission-content-->
			</div>
			<!--/.row-->
		</div>
		<!--/.about-history-content-->
	</div>
	<!--/.container-->

</div>
<!--/.about-history-->
<!--about-history end-->


{% endblock %}